<nav id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h2>Unite Tools</h2>
  </div>

  <div class="sidebar-content">
    <ul>
      <li class="nav-title" data-lang="nav_tools_title">Tools</li>
        <li><a id="nav-damage-calc" href="damage-calc.html" data-lang="nav_damage_calc">Damage Calculator</a></li>
        <li><a id="nav-draft-simulator" href="draft.html" data-lang="nav_draft_simulator">Draft Simulator</a></li>
        <li><a id="nav-map-timing" href="map_timer.html" data-lang="nav_map_timing">Map Timer</a></li>
        <li><a id="nav-create-tierlist" href="tierlist.html" data-lang="nav_create_tierlist">Create Tierlist</a></li>

      <li class="nav-title">Other</li>
        <li><a id="nav-about" href="about.html" data-lang="nav_about">About Me</a></li>

      <li class="nav-title">Informations</li>
        <li><a id="nav-update" href="update.html" data-lang="nav_update">Update</a></li>
    </ul>
  </div>

  <!-- Useful Links -->
  <div class="useful-links">
    <div class="useful-links-title" data-lang="nav_useful_links">Useful Links</div>

    <a href="https://uniteapi.dev/fr" class="useful-link" target="_blank">
      <span class="useful-link-name">Unite API</span>
      <span class="useful-link-desc">Player Database</span>
    </a>

    <a href="https://unite-db.com" class="useful-link" target="_blank">
      <span class="useful-link-name">Unite-DB</span>
      <span class="useful-link-desc">Game Database</span>
    </a>

  </div>

  <!-- Lang Buttons -->
  <div id="lang-switch" class="lang-switch">
    <button id="hide-sidebar-btn" class="hide-sidebar-btn" aria-label="Masquer la barre de navigation">
      ◀
    </button>
    <button class="lang-btn active" data-lang="fr" aria-label="Français">
      <img src="/assets/flags/fr.svg" alt="Français">
    </button>
    <button class="lang-btn" data-lang="en" aria-label="English">
      <img src="/assets/flags/en.svg" alt="English">
    </button>
  </div>
</nav>

<button id="toggle-sidebar" class="toggle-sidebar-btn" aria-label="Ouvrir/fermer la barre de navigation">
  ☰
</button>